torch>=1.9.0
torchvision>=0.10.0
timm>=0.5.4
albumentations>=1.1.0
numpy==1.24.4
pandas>=1.3.0
scikit-learn>=1.0.0
matplotlib>=3.4.2
seaborn>=0.11.2
tqdm>=4.62.0
PyYAML>=6.0
opencv-python-headless>=4.5.5
jupyterlab
ipywidgets>=7.6.3
augraphy>=8.2.6
grad-cam>=1.4.0
Pillow>=8.3.0
torchtext>=0.10.0
transformers>=4.12.0
fire==0.7.0
icecream>=2.1.5